run = "libreddit -H/nix/store/f2w94sr825qx50g81ms11skcd1wxihpv-libreddit-0.24.0"
language = "bash"

[nix]
channel = "stable-22_11"

[packager]
language = "rust"

[packager.features]
packageSearch = true
